
python>=3.11
jax==0.5.0 # for some reason, jax-metal with jax 0.5.1 is broken
jax-metal
pathos # multiprocessing CPU cores
roman # just for handling roman numerals in ionization stage names
astropy
scipy
lmfit
numpy
pandas
matplotlib